.info_button{
    width: 100px;
    border: 1px solid #efefef;
    border-radius: 3px;
    font-size: 11px;
    background: white;
    color: #525252;
}

.info_text{
    color: blue;
    padding-top: 2px;
}


.registerbtn {
    background-color:rgb(255, 255, 255);
    color: var(--ion-color-medium-shade);
      
    }