<ion-header>
  <ion-toolbar>
    <ion-title class="center">Create Group</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form  [formGroup]="groupForm" >
  <ion-input formControlName="grp_name" :class="paddingLeft" placeholder="Enter Group Name"  required></ion-input>
  <ion-item >
    <ion-label class="noBottomPadding textColor">Notes</ion-label>
  </ion-item>
  <ion-item>
    <ion-textarea formControlName="grp_desc" rows="6" cols="20" placeholder="Enter any notes here..."></ion-textarea>
  </ion-item>
  
  <ion-button (click)="createGroup()" class="fullWidth btn">Submit</ion-button>
  </form>

</ion-content>
