// .nonoBottomPadding{
//     padding-bottom: 0px !important;
// }
// .fullWidth{
//     width: 100%;
// }
// .btn{
//     padding-right: 5px;
//     height: 50px;
//     padding-top: 10px;
// }
// .paddingLeft{
//     padding-left: 10px !important;
//     padding-top: 20px !important;
// }
// .center{
//     text-align: center;
//     color: cornflowerblue;
// }
// .textColor{
//     color: blue;
// }


.registerbtn {
    background-color:black;
      color: rgb(255, 255, 255);
      padding: 16px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
      box-shadow: 1px 1px 1px 1px #e8e8e8;
    }