@import url("https://fonts.googleapis.com/css?family=Abel");

.participant_grid {
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #b7b3b3;
  height: 5rem;
  padding-top: 0.4rem;
}

.participant_name {
  margin-top: 25px;
  font-size: 14px;
  color: #4c4c4c;
}

.sc-ion-searchbar-md-h {
  --background: #fff;
  --box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  --box-shadow: 0px 0px 1px 0px rgba(22, 21, 21, 0.4);
  --cancel-button-color: var(--ion-color-step-900, #1a1a1a);
  --clear-button-color: initial;
  --color: var(--ion-color-step-850, #262626);
  --icon-color: var(--ion-color-step-600, #666666);
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: inherit;
}
