<!-- <ion-searchbar no-border placeholder="Search groups" (ionInput)="filterGroup($event)" showCancelButton="never">
</ion-searchbar> -->


<ion-content>
  <!-- <ion-list *ngFor="let k of cities2">
    <ion-item>
      <ion-label>{{k.name}}</ion-label>

    </ion-item>
  </ion-list> -->


  <ion-grid>
    <ion-row class="participant_grid" *ngFor="let parti of participants">
       
        <a style="padding-right: 3rem;"  class="item item-icon-left">
          <ion-avatar slot="start">
            <img  [src]="parti.user_fb_pic">
          </ion-avatar>
      
        
      
        </a>

        <h1 class="participant_name">  {{parti.user_name}}</h1>

        <p *ngIf="isAdmin && parti.user_username != userObject.user_username"  class="remove_text">Remove</p>


    </ion-row>
  </ion-grid>

  <!-- fab placed to the bottom end -->
  <ion-fab *ngIf="userObject && selectedGroup && userObject.user_username == selectedGroup.grp_admin" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addParticipant()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>