<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Topics</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <ion-list inset>
        
    <ion-item *ngFor="let cat of cities2" (click)="sample()">
        <ion-avatar item-left>
          <img src="https://image.shutterstock.com/image-vector/abstract-vector-science-concept-background-260nw-512382490.jpg" alt="{{cat.altName}}">
        </ion-avatar>
        <h2>{{cat.name}}</h2>
        <p>{{cat.description}}</p>
    </ion-item>
    
</ion-list>
</ion-content> -->

<ion-content>
  <ion-list (click)="expandItem(item)" *ngFor="let item of cities2">
    <!-- <ion-card-header>
      <ion-avatar item-left>
      </ion-avatar>
    </ion-card-header> -->
    <ion-row>
      <ion-col size="4">
        <ion-avatar item-left>
        <img src="https://image.shutterstock.com/image-vector/abstract-vector-science-concept-background-260nw-512382490.jpg" alt="hi">

        </ion-avatar>

      </ion-col>
      <ion-col size="8">
        <p>Main topic</p>

      </ion-col>
    </ion-row>
 
    <ion-item>
      <div expandHeight="100px" *ngIf="item.expanded">
        <ion-list>
        
          <ion-item *ngFor="let cat of cities2" (click)="sample()">
           
              <p>{{cat.name}}</p>
          </ion-item>
          
      </ion-list>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<!-- <ion-list inset>
        
  <ion-item *ngFor="let cat of cities2" (click)="sample()">
      <ion-avatar item-left>
        <img src="https://image.shutterstock.com/image-vector/abstract-vector-science-concept-background-260nw-512382490.jpg" alt="{{cat.altName}}">
      </ion-avatar>
      <h2>{{cat.name}}</h2>
      <p>{{cat.description}}</p>
  </ion-item>
  
</ion-list> -->