

<div class="spinner" *ngIf="isLoading"></div>

	<ion-content  [ngClass]="{'disableContent':isLoading}">
	

		<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
			<ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
			  refreshingText="Refreshing...">
			</ion-refresher-content>
		  </ion-refresher>
		
		  <div style="padding: 6px;" class="row">

			<ng-container  *ngFor="let draft of draftTest">
				<div  id="login-container" *ngIf="draft.quizStatus == 1">
					<!-- <div class="profile-img"></div> -->
					<h1>
					  {{draft.quizName}}
					</h1>
					<!-- <div class="description">
					  Created date :  {{draft.created_string_date}}
					</div> -->
					<div class="description">
					  {{draft.publish_string_date}}
					</div>
					<div class="social">
					 <a>{{draft.quizDuration}}</a>
					  <a>{{draft.quizMarks}}</a>
					  <a>{{draft.quizNoOfQuest}}</a>
					</div>
					<div class="social_span">
					  <a>
						Duration ( Min )
					  </a>
					  <a>
						Points
					  </a>
					  <a>
						Question
					  </a>
					</div>

					<p>{{draft.quizDesc}}</p>

					<button *ngIf="userObject && draft.userModel && userObject.user_username === draft.userModel.user_username" (click)="startTest(draft)" class="public_button">Start test</button>
					<div>
					  <button *ngIf="userObject && draft.userModel &&  userObject.user_username === draft.userModel.user_username"  (click)="onClickMoveToDraft(draft)" class="edit_button">Move to draft</button>
					  
					</div>
					<p style="font-size: 9px;
					color: #c34b4b;" *ngIf="userObject && draft.userModel &&  userObject.user_username != draft.userModel.user_username" >Please arrive 10 minutes early for your scheduled test</p>
				  </div>
			</ng-container>

		
		  </div>
	  
	
	</ion-content>
	