<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="home"></ion-back-button>
      <!-- <ion-input placeholder="Enter Quiz Name"></ion-input>
      <ion-icon (click)="addYourOwnQuestioin()" name="add-circle-outline"></ion-icon>
      <ion-icon name="reorder-four-outline"></ion-icon>      
      <ion-icon slot="end" (click)="saveQuizWithQuest()" name="save-outline"></ion-icon> -->
    </ion-buttons>


     <ion-buttons class="request" slot="primary">
          <ion-tab-button (click)="addYourOwnQuestioin()">
            <ion-icon  name="add-circle-outline"></ion-icon>

              <!-- <p>Request</p> -->
          </ion-tab-button>
      </ion-buttons>
      <ion-buttons slot="primary">
          <ion-tab-button (click)="participantInThisGroup()">
            <ion-icon name="reorder-four-outline"></ion-icon>      

              <!-- <p>Add</p> -->
          </ion-tab-button>
      </ion-buttons>

      <ion-buttons slot="primary">
        <ion-tab-button (click)="saveQuizWithQuest()" >
        <ion-icon  name="reorder-four-outline"></ion-icon>      

          <!-- <p>Add</p> -->
          </ion-tab-button>
      </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-row *ngIf="false">
    <ion-col size="4">
      <ion-label>Exam</ion-label>

      <ion-item>
        <ion-select [(ngModel)]="selectedExamList" placeholder="Exam" multiple="true" cancelText="cancel" okText="ok">
          <ion-select-option *ngFor="let exam of examList; let i = index" [value]="{name: exam.name, code: exam.code}" selected="false">
            {{exam.name}}

          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="4">
      <ion-label>Subject</ion-label>

      <ion-item>
        <ion-select [(ngModel)]="selectedSubjectList" placeholder="Exam" multiple="true" cancelText="cancel" okText="ok">
          <ion-select-option *ngFor="let sub of subjectList; let i = index" [value]="{name: sub.name, code: sub.code}" selected="false">
            {{sub.name}}

          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="4">
      <ion-label>Topic</ion-label>

      <ion-item>
        <ion-select [(ngModel)]="selectedTopicList" placeholder="Exam" multiple="true" cancelText="cancel" okText="ok">
          <ion-select-option *ngFor="let topic of topicList; let i = index" [value]="{name: topic.name, code: topic.code}" selected="false">
            {{topic.name}}

          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-card tappable *ngFor="let k of questionList;let i = index">
    
    <ion-item>
      <p slot="start">{{i+1}}</p>
      <p slot="end" (click)="openQuestionSetting(k)" style="float:right;">|||</p>

    </ion-item>

 
   
     <ion-card-content >
      <img [src]="k.user_quest_img_model.user_quest_img_base64_url">
  
     </ion-card-content>
     <div>
          <ion-badge color="success" >A.  {{k.user_quest_optionA}}</ion-badge>
          <ion-badge color="success">B.  {{k.user_quest_optionB}}</ion-badge>
          <ion-badge color="success">C.  {{k.user_quest_optionC}}</ion-badge>
          <ion-badge color="success" >D.  {{k.user_quest_optionD}}</ion-badge>
        <p *ngIf="correctOption">Answer</p>
  
        <div>
          <ion-badge color="success">Ans.  {{k.user_quest_ans}}</ion-badge>
  
        </div>
     </div>
   </ion-card>
</ion-content>
<ion-footer >
  <ion-toolbar style="text-align: center;" class="home-footer">

    <button    type="submit"  expand="block" class="registerbtn"><span (click)="saveTestRoom()">Save Test Room</span></button>

  </ion-toolbar>
</ion-footer>