
 .header{
    box-shadow: 0 5px 6px -2px #fff;

}

.myError{
  box-shadow: 0px 1px 0px 0px red;
}

.registerbtn {
    background-color: black;
    color: white;
    padding: 22px;
    /* margin: -4px 0; */
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }