@import url('https://fonts.googleapis.com/css?family=Abel');


.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.card {
  
  height: 250px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

.card h1 {
  text-align: center;
}

.card .additional {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#c37672, #5f74c1);
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
}

.card.green .additional {
  background: linear-gradient(#92bCa6, #A2CCB6);
}


// .card:hover .additional {
//   width: 100%;
//   border-radius: 0 5px 5px 0;
// }


.card .additional .user-card .level,
.card .additional .user-card .points {
	top: 15%;
    color: #fff;
    /* text-transform: uppercase; */
    font-size: 0.75em;
    font-weight: bold;
	border-radius: 100px;
	
}

.card .additional .user-card .points {
  top: 75%;
  white-space: nowrap; 	
}
.card .additional .user-card .duration {
	top: 15%;
    color: #9dce5f;
    font-size: 0.75em;
    font-weight: bold;
    border-radius: 100px;
    top: 95%;
    white-space: nowrap;
  }
.card .additional .user-card .date{
	top: 15%;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    border-radius: 100px;
    white-space: nowrap;
    top: 43%;
}

.card .additional .user-card svg {
  top: 50%;
}


.card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.card.green .additional .more-info h1 {
  color: #224C36;
}

.card .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

.card.green .additional .coords {
  color: #325C46;
}

.card .additional .coords span + span {
  float: right;
}

.card .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.card.green .additional .stats {
  color: #325C46;
}

.card .additional .stats > div {
  flex: 1;
  text-align: center;
}

.card .additional .stats i {
  display: block;
}

.card .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.card .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}




.sc-ion-searchbar-md-h {
    --background: #fff;
    --box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    --box-shadow: 0px 0px 1px 0px rgba(22, 21, 21, 0.4);
    --cancel-button-color: var(--ion-color-step-900, #1a1a1a);
    --clear-button-color: initial;
    --color: var(--ion-color-step-850, #262626);
    --icon-color: var(--ion-color-step-600, #666666);
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: inherit;
}

@import url('https://fonts.googleapis.com/css?family=Roboto|Sriracha&display=swap');
$background: #fffffb;
$accent: #ff6b6c;
$otherAccent: #ffc145;
$darkBackground: #5b5f97;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Roboto", arial, sans-serif;
  color: #222
}
#login-container {
  height: 342px;
    width: 100%;
    margin-bottom: 1pc;
    padding: 20px;
    border-radius: 5px;
    background: #fffffb;
    position: relative;
    border: 1px solid #d8d2d2;
    box-shadow: 1px 1px 1px 1px gainsboro;

  h1 {
    font-family: 'Sriracha', arial, sans-serif;
    text-align: center;
    margin-bottom: 20px;
    color: $otherAccent;
  }
  .description{
    margin-bottom: 20px;
  }
  .social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    margin: 0 auto;
    a {
      text-align: center;
      border: solid 2px $accent;
      width: 75px;
      padding: 5px 0;
      border-radius: 5px;
      &:hover {
        background: $accent;
        color: white;
        cursor: pointer;
      }
    }
  }
  .public_button {
    width: 80%;
    height: 53px;
    font-size: 2rem;
    margin: 30px 10% 0 10%;
    color: $background;
    border: none;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    background: linear-gradient(45deg, $accent, $otherAccent, $otherAccent, $accent);
    background-size: 300% 300%;
    outline: none;
    transition: all 200ms ease-in-out;
    &:hover{
      box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
      transform: translateY(2px);
      -webkit-animation: gradientBG 1.5s ease-in-out forwards;
      animation: gradientBG 1.5s ease-in-out forwards;
      cursor: pointer;
    }
    &:active {
      box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
      transform: translateY(4px);
    }
  }

  .edit_button{
    width: 80%;
    height: 25px;
    font-size: 1rem;
    margin: 30px 10% 0 10%;
    color: #fffffb;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background: linear-gradient(45deg, #ffffff, #33795f, #ffc145, #ff6b6c);
    background-size: 300% 300%;
    outline: none;
    transition: all 200ms ease-in-out;
    background-color: white;
    &:hover{
      box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
      transform: translateY(2px);
      -webkit-animation: gradientBG 1.5s ease-in-out forwards;
      animation: gradientBG 1.5s ease-in-out forwards;
      cursor: pointer;
    }
    &:active {
      box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
      transform: translateY(4px);
    }
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $darkBackground;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 30px;
    padding: 0 20px;
    margin-left: -20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    div {
      display: flex;
      .fa-heart {
        color: $accent;
      }
      p:first-child{
        margin-right: 10px;
        border-right: 4px solid white;
        padding-right: 10px;
      }
    }
  }
}

@-webkit-keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
  // 100% {
  //   background-position: 0% 50%;
  // }
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
  // 100% {
  //   background-position: 0% 50%;
  // }
}