Blink {
    animation: blinker 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
    
  }
  @keyframes blinker {  
    from { opacity: 1; }
    to { opacity: 0; }
  }
  .Blink {
    animation: blink 2s steps(5, start) infinite;
    -webkit-animation: blink 1s steps(5, start) infinite;
  }
  @keyframes blink {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink {
    to {
      visibility: hidden;
    }
  }