<ion-header>
  <ion-toolbar>
    <!-- <ion-title>liveTest</ion-title> -->
    <div><i class="fa fa-circle text-danger Blink"></i>&nbsp; LIVE </div>


    <ion-buttons slot="primary">
      <span>time : 20 min </span>
    </ion-buttons>


    <ion-buttons slot="primary">
      <span> status : {{questionList.length}} </span>
    </ion-buttons>

    <ion-buttons style="color: red;" slot="primary">
      <span>End</span>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card tappable *ngFor="let k of questionList;let i = index">
    
 

 
   
     <ion-card-content >
      <img [src]="k.imageInfoModel.img_base64">

     </ion-card-content>
     <div>
          <!-- <ion-badge color="success" >A.  {{k.user_quest_optionA}}</ion-badge>
          <ion-badge color="success">B.  {{k.user_quest_optionB}}</ion-badge>
          <ion-badge color="success">C.  {{k.user_quest_optionC}}</ion-badge>
          <ion-badge color="success" >D.  {{k.user_quest_optionD}}</ion-badge>
        <p *ngIf="correctOption">Answer</p> -->
  
        <ion-item>
          <ion-select placeholder="Select One">
            <ion-select-option  value="A">{{k.user_quest_optionA}}</ion-select-option>
            <ion-select-option value="B">{{k.user_quest_optionB}}</ion-select-option>
            <ion-select-option value="C">{{k.user_quest_optionC}}</ion-select-option>

            <ion-select-option value="D">{{k.user_quest_optionD}}</ion-select-option>

          </ion-select>
        </ion-item>

     </div>
   </ion-card>


</ion-content>
