<!-- <ion-header>
  <ion-toolbar>

  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- <div style="padding:5px">

    <div class="input-group mb-3">
      <input type="text" class="form-control" [(ngModel)]="usernameKey" placeholder="Username" aria-label="Recipient's username" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button (click)="searchParticipant()" class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
      </div>
    </div>

  </div>

    <p *ngIf="isKeyDown" style="color: red;padding-left: 5px;">User not found</p>


  <div *ngIf="isFound" style="padding:5px">
    <p>Name : {{user_name}}</p>
    <p>Username : {{user_username}}</p>
  </div>

  <div *ngIf="isFound" style="padding:5px;float:right">
    <button class="float-right" ccccc type="button" class="btn btn-dark">Add</button>
  </div> -->
  <ion-row>
    <ion-icon class="close_icon" (click)="close()" name="close-outline"></ion-icon>

  </ion-row>
  <div>
    <ion-row justify-content-center>
      <ion-col>
        <div text-center>
        </div>
        <div padding>

          <ion-item>
            <ion-input [(ngModel)]="usernameKey" (keyup)="onKeyupUsername()" type="text" placeholder="warAlgo">
            </ion-input>
            <ion-button (click)="searchParticipant()" color="white" class="search_button">
              Search 
              <ion-icon name="search-outline"></ion-icon>
            </ion-button>
          </ion-item>

          <!-- <ion-item>
            <ion-input [(ngModel)]="login_user_password" type="password" placeholder="Password"></ion-input>
          </ion-item>
        -->
        </div>


        <div *ngIf="isFound" style="padding:5px">
          <a *ngIf="isFound" style="padding-right: 3rem;"  class="item item-icon-left">
            <ion-avatar slot="start">
              <img  [src]="pic">
            </ion-avatar>
        
          
        
          </a>
  
          <h1 *ngIf="isFound" class="participant_name">  {{user_name}}</h1>
  
  
        </div> 
    
        <div style="margin-top: 1rem;" *ngIf="error_message">
          <p class="error_message">{{error_message}}</p>
        </div>

        <div style="margin-top: 1rem;">
          <button type="submit" *ngIf="!isFound" (click)="searchParticipant()" expand="block"
            class="login_btn">Search</button>

        </div>

        <div style="margin-top: 1rem;">
          <button type="submit" *ngIf="isFound" (click)="add()" expand="block"
            class="login_btn">Add</button>

        </div>

      </ion-col>
    </ion-row>

  </div>



</ion-content>