<!-- <ion-header>
  <ion-toolbar>

  </ion-toolbar>
</ion-header> -->

<ion-content style="padding:5px">
  <div style="padding:5px">

    <div class="input-group mb-3">
      <input type="text" class="form-control" [(ngModel)]="usernameKey" placeholder="Username" aria-label="Recipient's username" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button (click)="searchParticipant()" class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
      </div>
    </div>

  </div>

    <p *ngIf="isKeyDown" style="color: red;padding-left: 5px;">User not found</p>


  <div *ngIf="isFound" style="padding:5px">
    <p>Name : {{user_name}}</p>
    <p>Username : {{user_username}}</p>
  </div>

  <div *ngIf="isFound" style="padding:5px;float:right">
    <button class="float-right" type="button" class="btn btn-dark">Add</button>
  </div>
</ion-content>
