<ion-header>
  <!-- <ion-item>
    <ion-icon slot="start" (click)="cancelAddQues()" name="close-outline"></ion-icon>
    <ion-icon slot="end" (click)="addQuestion()" name="add-outline"></ion-icon>
  </ion-item> -->
  <ion-toolbar>
    <ion-buttons  slot="start">

      <ion-tab-button (click)="cancelAddQues()">
        <ion-icon style="color: red;" name="close-outline"></ion-icon>

      </ion-tab-button>
  
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content>



    <image-cropper
      [imageBase64]="capturedSnapURL"
      [maintainAspectRatio]="false"
     
      format="png"
      (imageCropped)="imageCropped($event)"
      outputType="base64">
    >

    </image-cropper>


    <ion-card *ngIf="croppedImage">
      <ion-card-content style="padding: 0px 0px 0px 0px;">
          <img class="cropped-image" [src]="croppedImage"/>
      </ion-card-content>
    </ion-card>


    

    <ion-row  *ngIf="croppedSuccess">
      <ion-col size="3">
        <input type="text" id="fname" [(ngModel)]="aOption" placeholder="">

      </ion-col>
      <ion-col size="3">
        <input type="text" id="fname" [(ngModel)]="bOption" placeholder="">

      </ion-col>
      <ion-col size="3">
        <input type="text" id="fname" [(ngModel)]="cOption" placeholder="">

      </ion-col>
      <ion-col size="3">
        <input type="text" id="fname" [(ngModel)]="dOption" placeholder="">

      </ion-col>
    </ion-row>


    <ion-list style="border-radius: 2px;
    padding-bottom: 0px;" *ngIf="isAllOptionFilled()">

     <ion-item>
       <ion-label>correct option</ion-label>

       <ion-select [(ngModel)]="correctOption" okText="Okay" cancelText="Dismiss">
         <ion-select-option value="A">A</ion-select-option>
         <ion-select-option value="B">B</ion-select-option>
         <ion-select-option value="C">C</ion-select-option>
         <ion-select-option value="D">D</ion-select-option>
       </ion-select>
     </ion-item>
   
   </ion-list>

</ion-content>




<div class="header">
  <ion-row>
    <ion-col size="2">
      <ion-icon (click)="getFromCamera()" name="camera-outline"></ion-icon>

    </ion-col>
    <ion-col size="2">
      <ion-icon (click)="getFromGallary()" name="film-outline"></ion-icon>

    </ion-col>
    <!-- <ion-col size="2">
      <ion-icon (click)="cropImage()" name="crop-outline"></ion-icon> 

    </ion-col> -->
    <ion-col size="2">
      <ion-icon (click)="getImageToCropped()" name="reload-outline"></ion-icon>

    </ion-col>
    <ion-col size="2">
      <ion-icon  (click)="save()" name="crop-outline"></ion-icon> 

    </ion-col>

    <ion-col>
      <ion-icon (click)="addQuestion()"  name="save-outline"></ion-icon>
    </ion-col>

  </ion-row>
</div>