.header {
    overflow: hidden;
    background-color: #72ceb7;
    padding: 8px 10px;
    // display: flex;
    // align-items: center;
    // justify-content: center;

  }

  .cropped-image{
    display: flex;
    position: relative;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  .ion-badge{
    font-size: 28px;

  }
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button-group{
    padding: 7px;
  }