<ion-header>
  <!-- <ion-item>
    <ion-icon slot="start" (click)="cancelAddQues()" name="close-outline"></ion-icon>
    <ion-icon slot="end" (click)="addQuestion()" name="add-outline"></ion-icon>
  </ion-item> -->
  <ion-toolbar>
    <ion-buttons  slot="start">

      <ion-tab-button (click)="cancelAddQues()">
        <ion-icon style="color: red;" name="close-outline"></ion-icon>

      </ion-tab-button>
  
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<div class="spinner" *ngIf="isImageProcessing"></div>

<ion-content [ngClass]="{'disableContent':isImageProcessing}">


  <!-- <div *ngIf="!isQuestionTypeChoosen && !isEdit" (click)="chooseQuestionType($event)" class="question_type_center">
    <ul>
      <li value="0" class="list_text">Diagram Question</li>
      <li value="1" class="list_text">Text Question</li>
      <li  value="2" class="list_text">Text + Diagram Question</li>
    </ul>
  </div> -->

  <!-- <div class="spinnerCenter"> -->

  <!-- </div> -->


  <!-- <div [hidden]="!isImageTextCorrect && choosenQuestType ==2">
    <image-cropper
      [imageBase64]="capturedSnapURL"
      [maintainAspectRatio]="false"
      format="png"
      (imageCropped)="imageCropped($event)"
      outputType="base64">
    

    </image-cropper>
  </div> -->





    <!-- <ion-card *ngIf="imageText ">
      <ion-card-header>
        Image Text
      </ion-card-header>
      <ion-card-content contenteditable>
        {{ imageText }}
      </ion-card-content>
    </ion-card>
    -->
    <ion-card *ngFor="let dgm of dgrmList" >
      <ion-card-content  class="img-wrap" style="padding: 0px 0px 0px 0px;">
        <!-- <span class="close">&times;</span> -->
        <ion-tab-button style="float: right;" (click)="removeDgrmFromQuest(dgm)">
          <ion-icon style="color: red;" name="close-outline"></ion-icon>
        </ion-tab-button>
          <img class="cropped-image" [src]="dgm.dgrm_img_base64"/>
      </ion-card-content>
    </ion-card> 

    <div>
      <image-cropper
        [imageBase64]="capturedSnapURL"
        [maintainAspectRatio]="false"
        format="png"
        (imageCropped)="imageCropped($event)"
        outputType="base64">
      </image-cropper>
    </div>

    <ion-row>
      <ion-col>
        <ion-button   [ngClass]="{'disableContent':isImageProcessing}" expand="full" (click)="onClickUseAsDiagram()"  *ngIf="capturedSnapURL" color="primary">Use as diagram</ion-button>

      </ion-col>
      <ion-col>
        <ion-button   [ngClass]="{'disableContent':isImageProcessing}" expand="full" (click)="onClickExtractImage()"  *ngIf="capturedSnapURL" color="primary">Extrac text</ion-button>

      </ion-col>
    </ion-row>

    <!-- <div [hidden]="isDgrmUploaded">
      <image-cropper 
        [imageBase64]="capturedDiagramSnapURL"
        [maintainAspectRatio]="false"
        format="png"
        (imageCropped)="imageCropped($event)"
        outputType="base64">
      </image-cropper>
    </div> -->

    

    <p *ngIf="choosenQuestType == 2 && isImageTextCorrect && !isDgrmUploaded" style="text-align: center;color: blue;">Add diagram image from camera or library</p>

    <ion-button  expand="full" (click)="onCorrectQuestion(0)"  *ngIf="choosenQuestType == 0 && capturedSnapURL && !isCorrectDiagramQUestion " color="primary">Ok ?</ion-button>
    <ion-button  expand="full" (click)="onCorrectQuestion(1)"  *ngIf="choosenQuestType == 1 && capturedSnapURL && isImageTextCorrect" color="primary">Ok ?</ion-button>

   <ion-button  expand="full" (click)="onCorrectQuestion(2)"  *ngIf="(choosenQuestType == 2 || choosenQuestType == 1) &&imageText && !isImageTextCorrect" color="primary">Ok ?</ion-button>

    <ion-row>
      <ion-col size="6">

        <input type="text" [ngClass]="{'myError':isOptionErrorA}" id="fname" [(ngModel)]="aOption" placeholder="A. ">

      </ion-col>
      <ion-col size="6">
        <input type="text" id="fname" [ngClass]="{'myError':isOptionErrorB}" [(ngModel)]="bOption" placeholder="B. ">

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <input type="text" id="fname" [ngClass]="{'myError':isOptionErrorC}" [(ngModel)]="cOption" placeholder="C. ">

      </ion-col>
      <ion-col size="6">
        <input type="text" id="fname" [ngClass]="{'myError':isOptionErrorD}" [(ngModel)]="dOption" placeholder="D. ">

      </ion-col>
    </ion-row>

    <ion-row style="padding-left: 6px;
    padding-right: 6px;">
      <!-- <input  > -->
      <ion-input [ngClass]="{'myError':isMarksError}" style="width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: .5px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;" type="number" (keyup)="validateNumberOnKeyUp()" (keypress)="numberOnlyValidation($event)" [(ngModel)]="questMarks" placeholder="Question Marks"></ion-input>

    </ion-row>

    <ion-list style="border-radius: 2px;
    padding-bottom: 0px;">

     <ion-item [ngClass]="{'myError':isCorrectOptionError}">
       <ion-label>correct option</ion-label>

       <ion-select  [(ngModel)]="correctOption" okText="Okay" cancelText="Dismiss">
         <ion-select-option value="A">A</ion-select-option>
         <ion-select-option value="B">B</ion-select-option>
         <ion-select-option value="C">C</ion-select-option>
         <ion-select-option value="D">D</ion-select-option>
       </ion-select>
     </ion-item>
   
   </ion-list>

   <ion-card >
    <ion-card-header style="background: #d5cde8;
    padding: 4px;">
      Image Text
    </ion-card-header>
    <ion-card-content [ngClass]="{'myError':isTxtError}" [textContent]="imageText" (input)="imageText=$event.target.textContent" class="editable_div" contenteditable>
      {{ imageText }}
    </ion-card-content>
  </ion-card>

  <!-- <ion-button  expand="full" (click)="onClickAddDiagram(0)"  color="primary">Don't have text</ion-button> -->

</ion-content>



<!-- <ion-button expand="full">Full Button</ion-button> -->

<div class="header">
  <ion-row>
    <ion-col size="4">
      <ion-icon  (click)="getFromCamera()" name="camera-outline"></ion-icon>

    </ion-col>
    <ion-col size="4">
      <ion-icon  (click)="getFromGallary()" name="film-outline"></ion-icon>

    </ion-col>
    <!-- <ion-col size="2">
      <ion-icon (click)="cropImage()" name="crop-outline"></ion-icon> 

    </ion-col> -->
    <!-- <ion-col size="3">
      <ion-icon  (click)="recognizeImage()" name="barcode-outline"></ion-icon>
    </ion-col> -->
    <!-- <ion-col size="2">
      <ion-icon  (click)="save()" name="crop-outline"></ion-icon> 

    </ion-col> -->

    <ion-col size="4">
      <ion-icon  (click)="addQuestion()"  name="save-outline"></ion-icon>
    </ion-col>

  </ion-row>
</div>