.header {
 
  // align-items: center;
  // justify-content: center;
  overflow: hidden;
  background-color: black;
  padding: 8px 10px;
  color: white;
}

.cropped-image{
  display: flex;
  position: relative;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.ion-badge{
  font-size: 28px;

}
// .button {
//   background-color: #4CAF50; /* Green */
//   border: none;
//   color: white;
//   padding: 10px;
//   text-align: center;
//   text-decoration: none;
//   display: inline-block;
//   font-size: 10px;
//   margin: 4px 2px;
//   cursor: pointer;
// }

.button-group{
  padding: 7px;
}


.option-group {
.ion-color{
  margin-right: 3px;
  margin-left:7px;
}
}

.add-option{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 10px 0px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
.spinnerCenter {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 100%;
}

.disableContent{
  opacity: .2;
  pointer-events: none;
}

.list_text{
  padding: 15px;
  color: blue;
}

.question_type_center{
  position: absolute;
  left: 19%;
  top: 25%;
  /* height: 54px; */
  width: 100%;
}
.spinner {
  z-index: 1000;
  position: fixed;
  left: 50%;
  top: 50%;
  // height: 60px;
  // width: 60px;
  margin: 0px auto;
  -webkit-animation: rotation 0.6s infinite linear;
  animation: rotation 0.6s infinite linear;
  border-left: 6px solid #ffffff00;
  border-right: 6px solid #ffffff00;
  border-bottom: 6px solid #1b671de0;
  border-top: 6px solid #1b671de0;
  border-radius: 100%;
}


.myError{
  box-shadow: 0px 0px 1px 0px red;
}

.editable_div {
  padding-top: 0px;
  /* padding-bottom: 20px; */
  background: #ececec;
  color: green;
  /* font-size: 15px; */
}
// .placeholder
// {
//     position: relative;
// }

// .placeholder::after
// {
//     position: absolute;
//     left: 5px;
//     top: 3px;
//     content: attr(data-placeholder);
//     pointer-events: none;
//     opacity: 0.6;
// }

.img-wrap {
  position: relative;
}
.img-wrap .close {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 100;
}


@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}