<ion-header>
  <ion-toolbar>
    <ion-title>Create your account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <form  [formGroup]="myform" >
    
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
          </div>
          <div padding>
            <ion-item>
              <ion-input  formControlName="user_name" type="text" placeholder="Name" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input formControlName="user_username"  type="text" placeholder="warAlgo" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input formControlName="user_password" type="password" placeholder="Password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input formControlName="re_user_password" type="password" placeholder="Password again" ngModel required></ion-input>
            </ion-item>
          </div>

            <div *ngIf="password_error_flag">
              <p>{{password_error}}</p>
            </div>
          <div padding>
            <ion-button  size="large" (click)="register()" [disabled]="myform.invalid" expand="block">Register</ion-button>
          </div>
        </ion-col>
      </ion-row>
  
  </form>
</ion-content>