<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Quizes Name</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <!-- <img src="../../assets/user.jpg"> -->
      </ion-avatar>
    
    </ion-item>
  
    <img src="https://cdn2.vectorstock.com/i/1000x1000/83/66/initial-letter-gk-logo-template-design-vector-22638366.jpg" alt="ion">
    <ion-card-header>
      <ion-card-title>Hotel Panama Garden</ion-card-title>
      <ion-label>
        <h3>John Doe</h3>
        <p>Dec 10, 2019</p>
        <p>Duration : 60 min</p>

      </ion-label>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus iaculis mollis ligula sed ultrices.
    </ion-card-content>
  
    <ion-footer>
      <ion-row>
        <ion-col center text-center>
          <button>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>Ranker</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="text"></ion-icon>
            <div>All</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="time"></ion-icon>
            <div>11h ago</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-card>
</ion-content>
