.request {
    font-size: 40px;
    color: #72c59f;
}
.group-card{
    box-shadow: 0px 0px 1px 1px #f3f3f3;
}

.group-info-title {
  font-size: 17px;
  color: blue;
}


.header-icon{
  margin-left: 3px;
    font-size: 19px;
}

.tab_p{
  font-size: 11px;
  margin-top: 29px;
  color: #dedede;
}
.registerbtn {
    background-color: black;
    color: white;
    padding: 22px;
    /* margin: -4px 0; */
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    
}
.ion-color-primary {
  --ion-color-base: #1a1a1a !important;
  --ion-color-base-rgb: var(--ion-color-primary-rgb, 56, 128, 255) !important;
  --ion-color-contrast: #b5b5b5 !important;
  --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb, 255, 255, 255) !important;
  --ion-color-shade: var(--ion-color-primary-shade, #3171e0) !important;
  --ion-color-tint: var(--ion-color-primary-tint, #4c8dff) !important;
}

Blink {
    animation: blinker 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
    
  }
  @keyframes blinker {  
    from { opacity: 1; }
    to { opacity: 0; }
  }
  .Blink {
    animation: blink 2s steps(5, start) infinite;
    -webkit-animation: blink 1s steps(5, start) infinite;
  }
  @keyframes blink {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink {
    to {
      visibility: hidden;
    }
  }

