.request {
    font-size: 40px;
    color: #72c59f;
}
.group-card{
    box-shadow: 0px 0px 1px 1px #f3f3f3;
}

.header{
    box-shadow: 0 5px 6px -2px #fff;

}

.registerbtn {
    background-color: black;
    color: white;
    padding: 22px;
    /* margin: -4px 0; */
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    
}