<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="start">
      <img height="80%" width="80%" src="assets/imgs/peopel.png">
    </ion-avatar>
    <ion-title class="group-info-title">{{selectedGroup.grp_name}}</ion-title>



  </ion-toolbar>
<!-- 
  <ion-toolbar class="header-2">

    <ion-buttons *ngIf="isAdmin" class="request" slot="start">
      <ion-tab-button (click)="addParticipant()">
        <ion-icon class="header-icon" name="person-add-outline"></ion-icon>
      </ion-tab-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-tab-button (click)="participantInThisGroup()">
        <ion-icon class="header-icon" name="arrow-down-outline"></ion-icon>
        <ion-badge  color="primary">11</ion-badge>

      </ion-tab-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-tab-button (click)="participantInThisGroup()">
        <ion-icon class="header-icon" name="people-outline"></ion-icon>
        <ion-badge  color="primary">11</ion-badge>
      </ion-tab-button>
    </ion-buttons>

  <ion-buttons slot="start">
    <ion-tab-button (click)="participantInThisGroup()">
      <ion-icon class="header-icon"  name="list-outline"></ion-icon>
      <ion-badge  color="primary">11</ion-badge>
    </ion-tab-button>
  </ion-buttons>
</ion-toolbar> -->
</ion-header>




<super-tabs>
  <super-tabs-toolbar slot="top" scrollable="true">
    <super-tab-button>
      <p class="tab_p">Upcoming </p>
    </super-tab-button>
    <super-tab-button>
      <p class="tab_p">Completed </p>

    </super-tab-button>
    <super-tab-button>
      <p class="tab_p">Members </p>

    </super-tab-button>
    <super-tab-button>
      <p class="tab_p">Request </p>

    </super-tab-button>
  </super-tabs-toolbar>

<super-tabs-container>
  <super-tab>
    <ion-content>
      <ion-nav [root]="upcomingPage" #upcomingNav></ion-nav>
    </ion-content>
  </super-tab>
  <super-tab>
    <ion-content>
      <ion-nav [root]="completedPage"></ion-nav>
    </ion-content>
  </super-tab>
  <super-tab>
    <ion-content>
      <ion-nav [root]="participantPage"></ion-nav>
    </ion-content>
  </super-tab>
  <super-tab>
    <ion-content>
      <ion-nav [root]="participantRequestListPage"></ion-nav>
    </ion-content>
  </super-tab>
</super-tabs-container>
</super-tabs>

<ion-footer>
  <ion-toolbar style=" --background: #ffffff; text-align: center;" class="home-footer">

    <button type="submit" expand="block" class="registerbtn"><span (click)="onClickCreateQuiz()">Create Test
        Room</span></button>

  </ion-toolbar>
</ion-footer>