<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Math Group</ion-title>

    <ion-buttons class="request" slot="primary">
      <ion-tab-button (click)="addParticipant()">
        <ion-icon style="margin-left: 3px;
        font-size: 25px;" name="person-add-outline"></ion-icon>

          <!-- <p>Request</p> -->
      </ion-tab-button>
  </ion-buttons>
  <ion-buttons slot="primary">
    <ion-tab-button (click)="participantInThisGroup()">
      <ion-icon style="margin-left: 3px;
      font-size: 31px;" name="arrow-down-outline"></ion-icon>
               <ion-badge style="margin-top: -10px;" color="primary">11</ion-badge>

        <!-- <p>Add</p> -->
    </ion-tab-button>
</ion-buttons>

    <ion-buttons slot="primary">
      <ion-tab-button (click)="participantInThisGroup()">
          <ion-icon style="margin-left: 3px;
          font-size: 31px;" name="people-outline"></ion-icon>
          <!-- <ion-icon name="add-outline"></ion-icon> -->
          <ion-badge style="margin-top: -10px;" color="primary">11</ion-badge>
          <!-- <p>Add</p> -->
      </ion-tab-button>
  </ion-buttons>
  </ion-toolbar>

  <!-- <ion-icon name="people-outline"></ion-icon> -->

</ion-header>

<ion-content padding  [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="authenticated == false">
    <ion-card tappable *ngFor="let k of cities2">
      <ion-item >

         <ion-checkbox checked="true"></ion-checkbox>
         <ion-label>{{k.name}}</ion-label>
         <ion-button  (click)="onClickGroup($event)">View</ion-button>
       </ion-item>
     
       <ion-card-content >
         Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
         
       </ion-card-content>
       <!-- <img src="https://image.shutterstock.com/image-vector/abstract-vector-science-concept-background-260nw-512382490.jpg"> -->

     </ion-card>

  </div>

  <div>
    <!-- <p *ngIf="groupCreatedByYou == false">You are not in any group</p> -->
    <ion-card  class="group-card" tappable *ngFor="let k of cities2">
      <ion-item >

         <!-- <ion-checkbox checked="true"></ion-checkbox> -->
         <ion-label>{{k.name}}</ion-label>
        <ion-icon  (click)="onClickParticipantQuizeWise($event)" name="people-outline"></ion-icon>

        
       <ion-icon  (click)="onClickQuizeInfo($event)" name="help-outline"></ion-icon>

       </ion-item>
     
       <ion-card-content >
         Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
         
       </ion-card-content>
       <!-- <img src="https://image.shutterstock.com/image-vector/abstract-vector-science-concept-background-260nw-512382490.jpg"> -->

     </ion-card>
  </div>




<ion-router-outlet></ion-router-outlet>

</ion-content>


<ion-footer >
  <ion-toolbar style=" --background: #ffffff; text-align: center;" class="home-footer">

    <button  type="submit"  expand="block" class="registerbtn"><span (click)="onClickCreateQuiz()">Create Test Room</span></button>

  </ion-toolbar>
</ion-footer>