<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
 
    <ion-title class="group-info-title">{{selectedGroup.grp_name}}</ion-title>

  </ion-toolbar>

</ion-header> 




<super-tabs>
  <super-tabs-toolbar slot="bottom">
 
    <super-tab-button >
      <p class="tab_p">Upcoming </p>
    </super-tab-button>
    <super-tab-button > 
      <p class="tab_p">Completed </p>

    </super-tab-button>
    <super-tab-button >
      <p class="tab_p">Members </p>

    </super-tab-button>
    <super-tab-button >
      <p class="tab_p">Draft </p>

    </super-tab-button>
  </super-tabs-toolbar>

<super-tabs-container>
  <super-tab>
    <ion-content>
      <ion-nav [root]="upcomingPage" #upcomingNav></ion-nav>
    </ion-content>
  </super-tab>
  <super-tab>
    <ion-content>
      <ion-nav [root]="completedPage"></ion-nav>
    </ion-content>
  </super-tab>
  <super-tab>
    <ion-content>
      <ion-nav [root]="participantPage"></ion-nav>
    </ion-content>
  </super-tab>
  <super-tab>
    <ion-content>
      <ion-nav [root]="draftPage"  [rootParams]="{'group': selectedGroup}"></ion-nav>
    </ion-content>
  </super-tab>
</super-tabs-container>
</super-tabs>

<!-- <ion-footer>
  <ion-toolbar style=" --background: #ffffff; text-align: center;" class="home-footer">

    <button type="submit" expand="block" class="registerbtn"><span (click)="onClickCreateQuiz()">Create Test
        Room</span></button>

  </ion-toolbar>
</ion-footer> -->