<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Groups</ion-title>
    <ion-buttons class="request" slot="primary">
      <ion-tab-button>
        <!-- <ion-icon style="margin-left: 3px;
        font-size: 25px;" name="easel-outline"></ion-icon> -->
        <div><i class="fa fa-circle text-danger Blink"></i>&nbsp; LIVE </div>

        <!-- <p>Request</p> -->
      </ion-tab-button>
    </ion-buttons>
    <!-- <ion-list >
      <ion-item>
        <ion-select placeholder="Standard" multiple="false" [(ngModel)]="selectedValue" (ionChange)="onChangeClass($event)" cancelText="Nah" okText="Okay!">
          <ion-select-option *ngFor="let item of cities2" [value]="item.name">{{item.name}}</ion-select-option>
          
        </ion-select>
      </ion-item>
    </ion-list>  -->



  </ion-toolbar>
  <ion-icon slot="end" name="star"></ion-icon>
</ion-header>



<ion-content padding  [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>





  
  <ion-item  *ngFor="let group of groupList">
    <ion-avatar slot="start">
      <img src="assets/imgs/peopel.png">
    </ion-avatar>
    <ion-label>
      <h3 style="color: blue;">{{group.grp_name}}</h3>
      <p>{{group.grp_admin}}</p>
      <p style="font-size: 10px;">Rooms : 4</p>
      <p style="font-size: 10px;">Members : 4</p>

    </ion-label>
    <a clickable class="view_text_class" (click)="onClickGroup(group)" slot="end">View</a>
  </ion-item> 
  

 <!-- Multi-line sliding item with icon options on both sides -->
 <!-- <ion-item-sliding id="item100">
  <ion-item href="#">
    <ion-label>
      <h2>HubStruck Notifications</h2>
      <p>A new message in your network</p>
      <p>Oceanic Next has joined your network</p>
    </ion-label>
    <ion-note slot="end">
      10:45 AM
    </ion-note>
  </ion-item>

  <ion-item-options side="start">
    <ion-item-option>
      <ion-icon slot="icon-only" name="heart"></ion-icon>
    </ion-item-option>
  </ion-item-options>

  <ion-item-options side="end">
    <ion-item-option color="danger">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-item-option>
    <ion-item-option>
      <ion-icon slot="icon-only" name="star"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding> -->

<ion-router-outlet></ion-router-outlet>

</ion-content>

<ion-footer>
  <ion-toolbar style="text-align: center;" class="home-footer">

    <button *ngIf="!authenticated" (click)="OpenSignUpPopUP($event)" type="submit" expand="block"
      class="registerbtn">Join</button>
    <button *ngIf="authenticated" type="submit" expand="block" class="registerbtn"><span
        (click)="createGroup($event)">Create Group</span></button>

  </ion-toolbar>
</ion-footer>