#notification-button {            
    position: relative;
    width: 42px;
    top:1px;
    right: 1px;
    overflow: visible!important;
}


#notifications-badge {
    background-color: red;
    position: absolute;
    top: -3px;
    right: -3px;
    border-radius: 100%;
}


.header{
      box-shadow: 0 5px 6px -2px #fff;

}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
    height: 34px;
}

.searchTerm {
    width: 100%;
    /* border: 3px solid #00B4CC; */
    /* border-right: none; */
    padding: 5px;
    height: 20px;
    border-radius: 0px 0px 14px -11px;
    outline: none;
    color: #1b945b;
    height: 40px;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
#wrap1{

//   transform: translate(-50%, -50%);
}

.sc-ion-searchbar-md-h {
    --background: #fff;
    --box-shadow: 1px 1px 1px 1px #efecec;
    --cancel-button-color: var(--ion-color-step-900, #1a1a1a);
    --clear-button-color: initial;
    --color: var(--ion-color-step-850, #262626);
    --icon-color: var(--ion-color-step-600, #666666);
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: inherit;
}

.group-card{
    box-shadow: 0px 0px 1px 1px #f3f3f3;
}