<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar  placeholder="Search by username" showCancelButton="never"></ion-searchbar>
    <!-- <ion-list >
      <ion-item>
        <ion-select placeholder="Standard" multiple="false" [(ngModel)]="selectedValue" (ionChange)="onChangeClass($event)" cancelText="Nah" okText="Okay!">
          <ion-select-option *ngFor="let item of cities2" [value]="item.name">{{item.name}}</ion-select-option>
          
        </ion-select>
      </ion-item>
    </ion-list>  -->


      
  </ion-toolbar>
  <ion-icon slot="end" name="star"></ion-icon>
</ion-header>

<ion-content>

</ion-content>
